*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.firstdiv img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
} 
.firstdiv{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(25, 25, 192);
    color: white;
    padding: 20px 40px;
    font-size: calc(8px + 1vw);
    font-weight: bold;
}
/* .firstdiv h1{
    margin-right: 400px;
} */
.firstdiv>button{
    display: none;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color:white;
    text-decoration: none;
}
.intro {
    padding: 50px 70px;
    background: rgb(199, 199, 211);
}
.search{
    font-weight: 20px;
    font-weight: bold;
    background: rgb(25, 25, 192);
    padding: 70px 70px;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 32px;
}
.contacts{
    height: 500px;
    background-color: rgb(245, 245, 166);
    display: flex;
}
.contacts .column1{
    width: 50%;
    height: 100%;
    background-color: rgb(240, 166, 166);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    /* align-content: center; */
}
.contact .column1 .callus{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.contacts .column2{
    width: 50%;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
}
.contacts img{
    width: 100px;
}
.contacts p{
    font-size: calc(9px + 1vw);
    font-weight: 600;
}


footer{
    background-color: green;
    padding: 40px 40px;
    display: flex;
    align-items: center;
    color: bisque;
    justify-content: center;
}
.mobileNav{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    top: 0px;
    padding: 30px;
    z-index: 10;
    /* transition-duration: 2s; */
}
.mobileNav>button{
    width: 50px;
    height: 40px;
    background-color: transparent;
    background-image: url(icons8-cancel-100\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 50px 45px;
    border-width: 0px;
    border-radius: 5px;

    position: absolute;
    right: 30px;
}
.mobileNav nav ul{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    font-size: 28px;
    padding-top: 20px;
}
.mobileNav nav ul li a{
    color: black;
}

















@media screen and (max-width:600px) {
    .search{
        background-color: blue;
    }
    header>.firstdiv>nav{
        display: none;
    }

    .firstdiv>button{
        display: block;
        width: 50px;
        height: 40px;
        background-color: transparent;
        background-image: url(hamburgericon.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-width: 0px;
        border-radius: 5px;
    }
}